/* 
Font Notes from Google Font
------------------------------------------------------------
Cormorant
// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 700

.cormorant-<uniquifier> {
  font-family: "Cormorant", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
------------------------------------------------------------
Raleway
// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.raleway-<uniquifier> {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
 */

 /*
 Color Notes
 - black: #000000
 - dark-gray: #74787B
 - light-gray: #C6C6C6
 - back-white: #EBEAEA
 - main-green: #0D7D8B
 - accent-orange: #DA802F
 */

 /* COMPONENTS */
 :root{
  /* COLOR */
  --black: #000000;
  --dark-gray: #74787B;
  --light-gray: #C6C6C6;
  --back-white: #EBEAEA;
  --main-green: #0D7D8B;
  --accent-orange: #DA802F;

  /* SPACE */
  --xsmall-space: 8px;
  --small-space: 16px;
  --medium-space: 24px;
  --large-space: 48px;
 }

 /**************************************************/
 /* GENERIC STYLE */

 /* Font Sytle */
 .no-underline{
  text-decoration: none;
 }

 .italic{
  font-style: italic;
 }

 /* Color */
 .green{
  color: var(--main-green);
 }

 /* Opacity */
 .opacity-50{
  opacity: 0.5;
 }


 /* -------------------------------------- */
 /* From here, some setting only applies on Laptop Device! */
 /* So when converting WRD, carefully pick layput properties. */
 /*
 Responsive Scale Value
 - mobile: <=600
 - tablet: <=980
 - laptop: <1700
 - desktop: >=1700

 */

 /* Width */
 .w-50{
  width: 50%; /* laptop & tablet */
 }


 /**************************************************/
 /* ELEMENT STYLE */

 /* ALL */
 *{
  box-sizing: border-box;
 }

 /* BODY */
 body{
  background-color: var(--back-white);
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  color: var(--black);
  display: flex;
  flex-direction: column;
}

body > *{
  /* Laptop & tablet */
  padding: var(--medium-space) var(--large-space);
}

/* HEADER */
header{
  display: flex;
  flex-direction: row;
}

header img{
  width: 100px;
}

/* MAIN */
main{

}

/* FOOTER */
footer{
  display: flex;
  flex-direction: row; /* laptop & tablet */
}

footer img{
  width: 80px;
}

 /* SECTION */
 /* Header: page links */
 section.page-links{
  /* laptop only! */
  display: flex;
  flex-direction: row;
  gap: var(--xsmall-space);
 }

 /* Header: contact-info links */
 section.contact-info{

 }

 /* Main: introduction */
 section.self-intro{
  /* Laptop */
  display: flex;
  flex-direction: row;
 }

 section.self-intro > *{
  width: 50%;
 }

 section.self-intro img{
  max-width: 400px;
 }

 /* Main: work */
 section.work{

 }

 /* Main: skill */
 section.skills{

 }
 
 /* Main: contact form */
 section.contact-form{
  /* laptop only! */
  display: flex;
  flex-direction: row;
 }

 /* DIVISION */
 div.col-container{
  display: flex;
  flex-direction: row;
 }

 div.s-space{
  height: var(--small-space);
 }

 div.form-item{

 }

 /* LINK */

 a.link-text:hover{
  text-decoration: underline;
 }

 /* BUTTON */
 button.nofill{

 }

 button.fill{

 }

 /* FORM */

 /* LIST */

 /* ICON */
 i.nav-menu{
  display: none; /* laptop */
 }

 i.header-decor{
  color: var(--light-gray);
  opacity: 0.5;
  font-size: 80px;
 }
 