/* 
Font Notes from Google Font
------------------------------------------------------------
Cormorant
// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 700

.cormorant-<uniquifier> {
  font-family: "Cormorant", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
------------------------------------------------------------
Raleway
// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.raleway-<uniquifier> {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
 */

 /*
 Color Notes
 - black: #000000
 - dark-gray: #74787B
 - light-gray: #C6C6C6
 - white-gray: #EBEAEA
 - main-green: #0D7D8B
 - accent-orange: #DA802F
 */

 /* COMPONENTS */
 :root{
  /* COLOR */
  --black: #000000;
  --white: #ffffff;
  --dark-gray: #74787B;
  --light-gray: #C6C6C6;
  --white-gray: #EBEAEA;
  --main-green: #0D7D8B;
  --accent-orange: #DA802F;

  /* SPACE */
  --xsmall-space: 8px;
  --small-space: 16px;
  --medium-space: 24px;
  --large-space: 32px;
  --xlarge-space: 48px;
  --xxlarge-space: 62px;
 }

 /**************************************************/
 /* GENERIC STYLE */

 /* Font Sytle */
 .no-underline{
  text-decoration: none;
 }

 .italic{
  font-style: italic;
 }

 /* Color */
 .green{
  color: var(--main-green);
 }


 /* Opacity */
 .opacity-50{
  opacity: 0.5;
 }

 /* Width */
 .w-50{
  width: 50%; /* laptop & tablet */
 }


 /**************************************************/
 /* ELEMENT STYLE */

 /* ALL */
 *{
  box-sizing: border-box;
 }

 /* BODY */
 body{
  background-color: var(--white);
  display: flex;
  flex-direction: column;

  /* Default Font Setting*/
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: var(--black);
}

/* HEADER */
header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  background-color: var(--white-gray);

  /* Laptop & Tablet */
  padding-top: var(--medium-space);
  padding-bottom: var(--medium-space);
}

header img{
  width: 100px;
}

/* MAIN */
main{
  display: flex;
  flex-direction: column;
}

main section{
  /* Laptop only */
  padding: var(--xlarge-space) 0;
}

/* FOOTER */
footer{
  /* Laptop & Tablet */
  display: flex;
  flex-direction: row;
  padding-top: var(--large-space);
  padding-bottom: var(--large-space);
  justify-content: space-between;

  background-color: var(--black);
}


footer img{
  width: 100px;
}

footer ul{
  display: flex;
  flex-direction: column;
  gap: var(--medium-space);
 }

footer li{
  color: var(--white);
  font-weight: 300;
}

footer li a{
  color: var(--white);
}

 /* SECTION */
 /* Header: page links */
 section.page-links{
  /* laptop only! */
  display: flex;
  gap: var(--xsmall-space);
 }

 section.page-links a {
  color: var(--black);
  padding: var(--xsmall-space)
 }

 section.page-links a.active{
  color: var(--main-green);
  font-weight: 600;
 }

 /* Header: contact-info links */
 section.contact-info{
  display: flex;
  gap: var(--xsmall-space);
 }

 section.contact-info > *{
  color: var(--black);
  padding: var(--xsmall-space);
 }

 /* Main: introduction */
 section.self-intro article{
  display: flex;
  flex-direction: column;
  gap: var(--small-space);
 }

 section.self-intro img{
  /* DO I NEED THIS? */
  /* max-width: 400px; */
  /* max-height: 400px; */
 }

 /* Main: work */
 section.work{
  display: flex;
  flex-direction: column;
  gap: var(--small-space);
 }

 /* Image Link Style ... Tablet and Mobile */
 a.link-image{
  position: relative;
}

a.link-image img{
  opacity: 0.2;
}

div.project-title-cover{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0 var(--xsmall-space);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 1;
}

a.link-image p{
  color: var(--black);
  font-weight: 600;
  line-height: 1.5;
}

 /* Main: skill */
 section.skills{
  display: flex;
  flex-direction: column;
  gap: var(--small-space);
 }

 /* DIVISION */

 div.col-container a{
  width: 100%;
 }

 div.col-container a img{
  width: 100%;
 }

 div.col-container article{
  display: flex;
  flex-direction: column;
  gap: var(--small-space);
 }

 div.s-space{
  height: var(--small-space);
 }

 div.contact-me-message{
  display: flex;
  flex-direction: column;
  gap: var(--small-space);
 }

 div.form-item{
  display: flex;
  flex-direction: column;
  gap: var(--xsmall-space);
 }

 div.link-stacks-on-footer{
  display: flex;
  flex-direction: row;
  /* Laptop & Tablet */
  width: 50%;
 }

 div.link-stacks-on-footer ul{
  width: 100%;
 }

 /* HEADING */
 h1, h2, h3{
  font-family: 'Cormorant', serif;
  font-weight: 700;
 }

 h3{
  font-size: 24px;
 }

 p{
  line-height: 1.875em;
 }

/* ---------------- */

 /* LINK */
 a.link-text:hover{
  text-decoration: underline;
 }

 a.button-green-fill{
  color: var(--white);
  background-color: var(--main-green);
 }

 a.large-button{
  font-size: 16px;
  padding: 12px 16px;
 }

 /* BUTTON */
 /* FONT SETTING */
 button {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 16px;
 }

 button.fill-black{
  color: var(--white);
  background-color: var(--black);
  border: none;
 }

 button.large{
  padding: 12px 16px;
 }

 /* Button inside text alignment */
 /* Laptop & Tablet */
 button{
  text-align: center;
 }

/* HOVER EFFECT */
/* Sweep To Right */
  /* black background */
.hvr-sweep-to-right-black {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-right-black:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  /* This is the background color */
  background: var(--black);

  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-right-black:hover, .hvr-sweep-to-right-black:focus, .hvr-sweep-to-right-black:active {
  color: white;
}
.hvr-sweep-to-right-black:hover:before, .hvr-sweep-to-right-black:focus:before, .hvr-sweep-to-right-black:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/* green background */
.hvr-sweep-to-right-green {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-right-green:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  /* This is the background color */
  background: var(--main-green);

  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-right-green:hover, .hvr-sweep-to-right-green:focus, .hvr-sweep-to-right-green:active {
  color: white;
  
}
.hvr-sweep-to-right-green:hover:before, .hvr-sweep-to-right-green:focus:before, .hvr-sweep-to-right-green:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/* Grow */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* ---------------- */

 /* FORM */
 form{
  display: flex;
  flex-direction: column;
  gap: var(--small-space);
 }

 /* INPUT & TEXTAREA */
 input, textarea{
  padding: var(--xsmall-space);
 }

 /* LIST */

li.list-title{
  font-weight: 500;
  padding-bottom: var(--xsmall-space);
}

 /* ICON */
 i.nav-menu{
  display: none; /* laptop */
  font-size: 24px;
  padding: var(--xsmall-space);
 }

 i.header-decor{
  color: var(--main-green);
  opacity: 0.5;
  font-size: 80px;
 }

 i.intext-end{
  padding-left: 0.3em;
 }

 footer i{
  margin-left: 0.3em;
 }

 /* Horizontal Rule */
 hr{
  border: 1px solid var(--white-gray);
  visibility: hidden;
 }
 
 /* -------------------------------------- */
/* RWD SETTING! */
/*
 Responsive Scale Value
 - single column: <680px 
    ... Mobile or Small tablet
 - Tablet: <1025px
 - Laptop: >=1025px *Padding right & left -> 150px
 */
 
/* For Mobile & Small Tablet */
@media screen and (max-width: 679px) {
  /* Visibility Control */
  .hidden-on-mobile{
    display: none;
  }

  /* Layout */
  body > *{
    padding-left: var(--large-space);
    padding-right: var(--large-space);
  }

  main section{
    padding: var(--xlarge-space) 0;
  }

  /* HEADER */
  section.page-links, section.contact-info{
    display: none;
  }

  i.nav-menu{
    display: block;
  }

  /* FOOTER */
  footer{
    display: flex;
    flex-direction: column;
    gap: var(--xlarge-space);
  }

  footer a{
    padding-top: var(--xsmall-space);
    padding-bottom: var(--xsmall-space);
  }

  /* SECTION */
  /* Main: self-intro */
  section.self-intro{
    display: flex;
    flex-direction: column;
    gap: var(--large-space);
    align-items: center;
   }

  /* image width */
   section.self-intro img{
    width: 75%;
  }

  /* Main: work */
  section.self-intro article{
    gap: var(--large-space);
   }

  section.work{
    gap: var(--large-space);
  }

  section.work a.link-image{
    box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.25);
    max-width: 600px;
  }

  a.link-image p{
    font-size: 1.2em;
  }

  /* Main: skill */
  section.skills{
  gap: var(--large-space);
  }

  /* Horizontal Rule */
  hr{
    visibility:visible;
  }

  /* Main: contact form */
  section.contact-form{
  display: flex;
  flex-direction: column;
  gap: var(--large-space);
  }

  /* DIVISION */
  div.col-container{
    display: flex;
    flex-direction: column;
    gap: var(--large-space);
  }
  div.col-container a{
    max-height: 250px;
    overflow: hidden;
  }

  div.s-space{
    height: 0;
   }
  
  div.contact-me-message{
    display: flex;
    flex-direction: column;
    gap: var(--small-space);
  }

  div.link-stacks-on-footer{
    width: 100%;
  }

  /* HEADING */
  h1{
    font-size: 40px;
  }
  
  h2{
    font-size: 32px;
  }

   /* ICON */
  i.header-decor{
    font-size: 120px;
  }

  /* LINK */
  a.large-button{
   height: var(--xxlarge-space);
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
  }

  /* BUTTON */
  button.large{
   height: var(--xxlarge-space);
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
  }

  /* font setting for LINK button & BUTTON */
  a.large-button, button{
    font-size: 1.25em;
  }
}

/* For Tablet */
@media screen and (min-width: 680px) and (max-width: 1024px) {
  body > *{
    padding-left: var(--xlarge-space);
    padding-right: var(--xlarge-space);
  }

  /* HEADER */
  header{
    font-size: 24px;
  }

  /* FOOTER */
  footer a{
    padding-top: var(--xsmall-space);
    padding-bottom: var(--xsmall-space);
  }

  /* SECTION */
  /* Header: Page-links */
  section.page-links{
    gap: var(--small-space);
  }

  /* Header: Contact-info */
   section.contact-info > *{
    padding: 12px;
    /* For making the target size as 48px ... Accessibility */
   }

  /* Main: Self-intro */
  section.self-intro{
    display: flex;
    flex-direction: row;
    gap: var(--large-space);
    align-items: center;
   }

   /* image width */
   section.self-intro img{
    width: 50%;
   }

   /* Work */
   a.link-image img{
    box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.75); 
  }
   /* Contact form */
  section.contact-form{
    display: flex;
    flex-direction: row;
    gap: var(--medium-space);
  }

  /* Content width */
  div.contact-me-message{
    width: 50%;
  }
  section.contact-form form{
    width: 50%;
  }

  /* DIVISION */
  /* THINK ABOUT THE LAYOUT */
  div.col-container{
    display: flex;
    flex-direction: row;
    gap: var(--small-space);
   }

  /* HEADING */
  h1{
    font-size: 56px;
  }
  
  h2{
    font-size: 32px;
  }

  /* LINK */
  a.large-button{
    height: var(--xxlarge-space);
    display: flex;
    flex-direction: row;
    align-items: center;
  }
 
  /* BUTTON */
  button.large{
    height: var(--xxlarge-space);
  }
 
   /* font setting for LINK button & BUTTON */
   a.large-button, button{
     font-size: 1.25em;
  }
}

/* For Laptop */
@media screen and (min-width: 1025px) {
  body > *{
    padding-left: 150px;
    padding-right: 150px;
  }

  /* SECTION */

  /* Self-intro */
  section.self-intro{
    /* Laptop & Tablet*/
    display: flex;
    flex-direction: row;
    gap: var(--large-space);
    align-items: center;
   }

   /* image width */
   section.self-intro img{
    width: 50%;
   }
  
  /* Main: Work */
  /* Hover Transition */
  a.link-image{
    position: relative;
  }

  a.link-image img{
    opacity: 1;
    transition: .5s ease;
    box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.25);
  }

  div.project-title-cover{
    transition: .5s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0 var(--xsmall-space);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0;
  }

  .link-image:hover img {
    opacity: 0.2;
  }
  
  .link-image:hover .project-title-cover {
    opacity: 1;
  }

  a.link-image p{
    color: var(--black);
    font-weight: 600;
    font-size: 1.2em;
    line-height: 1.5;
  }


   /* Main: contact form */
  section.contact-form{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  /* Content width */
  div.contact-me-message{
    width: 33%;
  }
  section.contact-form form{
    width: 50%;
  }

  /* DIVISION */
  div.col-container{
    display: flex;
    flex-direction: row;
    gap: var(--small-space);
   }

  
  /* HEADING */
  h1{
    font-size: 64px;
   }
  
   h2{
    font-size: 40px;
   }
}

/* ---------------------------------------- */